{% extends 'core/base.html' %}
{% block title %}Início{% endblock %}
{% block content %}
<section class="welcome-section">
  <h1>Bem-vindo ao <strong>Adote com Amor</strong> — Um lar cheio de amor para todos os pets</h1>
  <p>Aqui, cada patinha tem uma história e espera por uma família que a acolha com carinho e compromisso. Nosso propósito é unir corações, promovendo adoções responsáveis e conscientes para transformar vidas — tanto de humanos quanto de animais.</p>

  <ul>
    <li>🐾 Está pensando em adotar um novo amigo para compartilhar momentos inesquecíveis?</li>
    <li>🐾 Quer ajudar divulgando um animal que merece um lar cheio de amor?</li>
    <li>🐾 Ou simplesmente deseja conhecer histórias inspiradoras e aprender dicas valiosas para cuidar melhor dos seus pets?</li>
  </ul>

  <p>Você chegou ao lugar certo! Explore nossas páginas, descubra nossos peludinhos disponíveis para adoção e junte-se a essa linda corrente do bem.</p>

  <p><strong>Adote, divulgue, transforme vidas — juntos somos mais fortes!</strong></p>
</section>

{% endblock %}

